BEGIN;

ALTER TABLE signals
    ADD COLUMN record_kind VARCHAR(32) NOT NULL DEFAULT 'ACTIONABLE_CONFIRMED',
    ADD COLUMN decision_stage VARCHAR(64) DEFAULT NULL,
    ADD COLUMN is_actionable BOOLEAN NOT NULL DEFAULT FALSE,
    ADD COLUMN notification_eligible BOOLEAN NOT NULL DEFAULT FALSE,
    ADD COLUMN actual_score NUMERIC(8, 2) DEFAULT NULL,
    ADD COLUMN final_threshold NUMERIC(8, 2) DEFAULT NULL,
    ADD COLUMN score_margin NUMERIC(8, 2) DEFAULT NULL,
    ADD COLUMN blocked_stage VARCHAR(64) DEFAULT NULL,
    ADD COLUMN evaluated_at TIMESTAMP WITH TIME ZONE DEFAULT NULL;

-- Update existing records to logical defaults for actionability based on status
UPDATE signals
SET is_actionable = true,
    notification_eligible = true
WHERE status IN ('ACTIVE', 'CONFIRMED', 'SETUP');

UPDATE signals
SET record_kind = 'BLOCKED_AUDIT',
    blocked_stage = 'EVALUATION',
    is_actionable = false,
    notification_eligible = false
WHERE status = 'BLOCKED';

UPDATE signals
SET record_kind = 'ACTIONABLE_SETUP'
WHERE status = 'SETUP';

COMMIT;
